@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
    --almost-black:#111;
    --black2: #0000004d;
    --dark-grey:#1E1823;
    --grey-color:rgba(17, 17, 17, 0.70);
    --light-grey:rgba(17, 17, 17, 0.10);
    --almost-white:rgba(255, 255, 255, 0.70);
    --white-color:#fff;
    --white2: #fafafa;
    --light-orange:#FCF1E0;
    --dark-orange:#FD9222;
    --shadow:rgba(215, 228, 249, 0.25);
    --advg-desc-color: rgba(255, 255, 255, 0.7);
    --advg-line-color: rgba(255, 255, 255, 0.5);
    --placeholder: rgba(64, 64, 64, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white2);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.orange-span {
    color: var(--dark-orange);
}