footer {
    background-color: var(--dark-grey);
}

.fcontainer.footer_section {
    align-items: flex-start;
    max-width: 335px;
    margin: 0 auto;
    padding: 32px 20px;
}

.box_footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.title_footer {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.48px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 300px;
}

.footer_chocolate {
    color: var(--dark-orange);
}

.contact_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact_us .adress {
    color: var(--white-color);
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact_us .adress p {
    font-weight: 500;
    line-height: 18px;
    margin: 0;
}

.contact_us .adress-list {
    letter-spacing: -0.28px;
}

.adress_list_item a:hover {
    color: var(--dark-orange);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress_list_item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-socials-list {
    display: flex;
    flex-direction: column;
}
.social-media-footer {
    display: flex;
    gap: 14px;
}

.footer-socials-item svg {
    width: 22px;
    height: 22px;
    color: transparent;
    stroke: var(--white-color);
}
.footer-socials-item svg:hover {
    stroke: var(--dark-orange);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line_footer {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav_footer {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav_footer_item:hover {
    color: var(--dark-orange);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*tablet*/
@media screen and (min-width: 768px) {
    .fcontainer.footer_section {
        max-width: 704px;
    }
    .title_footer {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.56px;
    }

    .box_footer {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
    }

    .contact_us {
        gap: 50px;
        width: fit-content;
    }

    .nav_footer {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding-top: 24px;
        padding-bottom: 18px;
    }
}

/*desktop*/
@media only screen and (min-width: 1200px) {
    .box_footer {
        padding-top: 18px;
        padding-bottom: 72px;
    }

    .contact_us {
        gap: 63px;
    }

    .fcontainer.footer_section {
        max-width: 1135px;
    }
    .footer-socials-list {
        flex-direction: row;
        gap: 18px;
    }
}