<section class="our-products" id="ourproducts">
  <h1 class="title-our-products">OUR <span>PRODUCTS</span></h1>
  <div class="swiper1 container-swiper">
    <ul class="ul-swiper swiper-wrapper">
      <li class="swiper-slide product-slide" style="margin-right: 18px">
        <picture class="product-images">
          <source
            srcset="images/product-1.png 1x, images/product-1-2x.png 2x"
            type="image/png"
          />
          <img src="images/product-1.png" alt="dark chocolate with oranges" />
        </picture>
        <h2 class="product-names">ORANGE</h2>
        <p class="chocolate-types">Dark chocolate</p>
        <button class="product-price-btn">45 UAH</button>
      </li>
      <li class="swiper-slide product-slide" style="margin-right: 18px">
        <picture class="product-images">
          <source
            srcset="images/product-2.png, images/product-2-2x.png"
            type="image/png"
          />
          <img
            src="images/product-2.png"
            alt="milk chocolate with apple&cranberry"
          />
        </picture>
        <h2 class="product-names">APPLE&CRANBERRY</h2>
        <p class="chocolate-types">Milk chocolate</p>
        <button class="product-price-btn">50 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-3.png, images/product-3-2x.png"
            type="image/png"
          />
          <img
            src="images/product-3.png"
            alt="dark chocolate with lime&sea salt"
          />
        </picture>
        <h2 class="product-names">LIME&SEA SALT</h2>
        <p class="chocolate-types">Dark chocolate</p>
        <button class="product-price-btn">66 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-4.png, images/product-4-2x.png"
            type="image/png"
          />
          <img src="images/product-4.png" alt="dark chocolate with pineapple" />
        </picture>
        <h2 class="product-names">PINEAPPLE</h2>
        <p class="chocolate-types">Dark chocolate</p>
        <button class="product-price-btn">54 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-5.png, images/product-5-2x.png"
            type="image/png"
          />
          <img src="images/product-5.png" alt="classic milk chocolate" />
        </picture>
        <h2 class="product-names">CLASSIC</h2>
        <p class="chocolate-types">Milk chocolate</p>
        <button class="product-price-btn">45 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-6.png, images/product-6-2x.png"
            type="image/png"
          />
          <img src="images/product-6.png" alt="milk chocolate with honey" />
        </picture>
        <h2 class="product-names">HONEY</h2>
        <p class="chocolate-types">Milk chocolate</p>
        <button class="product-price-btn">50 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-7.png, images/product-7-2x.png"
            type="image/png"
          />
          <img
            src="images/product-7.png"
            alt="dark chocolate with roasted fruits"
          />
        </picture>
        <h2 class="product-names">ROASTED FRUITS</h2>
        <p class="chocolate-types">Dark chocolate</p>
        <button class="product-price-btn">66 UAH</button>
      </li>
      <li class="swiper-slide product-slide">
        <picture class="product-images">
          <source
            srcset="images/product-8.png, images/product-8-2x.png"
            type="image/png"
          />
          <img src="images/product-8.png" alt="white chocolate" />
        </picture>
        <h2 class="product-names">CLASSIC</h2>
        <p class="chocolate-types">White chocolate</p>
        <button class="product-price-btn">54 UAH</button>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
